/** Contact Css  **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /** Colors **/
    --test-color: #a7ddb4;
    --white: #fffaeb;
    --spicy-pink: #7b6f6f;

    /** Fonts **/
    --big-font-size: 1.5rem;
    --big-normal-font-size: 1.2rem;
    --normal-font-size: .900rem;
}

.card {
    width: 80%;
    margin: 0 auto;    
    margin-top: 120px;
}

.card__con {
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--big-font-size);
}

.card__item {
    background-color: var(--spicy-pink);
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 40px;
    max-width: 700px;

    -webkit-box-shadow:0px 2px 15px 2px rgba(230,221,230,0.2);
    -moz-box-shadow: 0px 2px 15px 2px rgba(230,221,230,0.2);
    box-shadow: 0px 2px 15px 2px rgba(230,221,230,0.2);
}

.card__item:hover {
    opacity: .8;
}

.card__logo {
    margin-left: 10px;
}

.card__img {
    width: 120px;
}

.card__details {
    margin-left: 20px;
}

.card__title {
    font-size: var(--big-font-size);
    letter-spacing: 0.5;
}

.card__paragraph {
    font-size: var(--normal-font-size);
    letter-spacing: 1.2px;
}

.card__link {
    display: block;
    color: var(--white);
    text-decoration: none;
}


/** Responsive Desing **/

@media screen and (max-width: 900px){
    :root {
        /** fuentes **/
        --big-font-size: 1.8rem;
        --big-normal-font-size: 1.2rem;
        --normal-font-size: .763rem
    }

    .card__img {
        width: 60px;
    }

    .card__details {
        padding-right: 10px;
    }

}

@media screen and (max-width: 770px) {
    :root {
        /** Fonts **/
        --big-font-size: 1.4rem;
        --normal-font-size: .855rem;
    }

    .card__details {
        padding-right: 15px;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --big-font-size: 1.6rem;
    }

}

@media screen and (max-width: 550px) {
    :root {
        --big-font-size: 1.4rem;
    }
    
    .card__paragraph {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .card__item {
        flex-direction: column;
    }
    
    .card__logo {
        margin-top: 10px;
    }

    .card__details {
        margin-top: 10px;
    }
}